<h1 class="mt-4">



    Admin Dashboard</h1>
<p class="lead mb-3">Welcome
    <%= user.name %>
</p>

<h2>Current sessions</h2>

<% for (key in sessions){ %>
    <p>Session ID:
        <%= key %><br> User Id:
            <%= JSON.parse(sessions[key]).passport.user %> <br>
                <a href="/admin" class="btn btn-secondary" onclick='req.sessionStore.destroy(sessions.id)'>Revoke session</a>
                <!-- this doesnt work lol -->
    </p>

    <% } %>

        <a href="/auth/logout" class="btn btn-secondary">Logout</a>